<div class="section footer">
    <p>
        <img src="/assets/icon.png" alt="Run4IT icon"> 
        Run4IT APIv{{ apiVersion }}
        &copy; 2020 Andreas Aune.
        <br />
        Welcome image by <a href="https://pixabay.com/users/RemazteredStudio-1714780/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1201014">Remaztered Studio</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1201014">Pixabay</a> 
    </p>
</div>
