<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <h1>Please sign in</h1>
    <app-notification></app-notification>
    <fieldset [disabled]="isSubmitting">

        <fieldset>
            <mat-form-field class="form-item-size">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email">
            </mat-form-field>
        </fieldset>

        <fieldset>
            <mat-form-field class="form-item-size">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password">
            </mat-form-field>
        </fieldset>

        <fieldset>
            <button mat-raised-button color="primary" class="form-item-size" type="submit">
                Log in
            </button>
        </fieldset>

    </fieldset>
</form>
