<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <h1>Please sign in</h1>
    <app-notification></app-notification>
    <fieldset [disabled]="isSubmitting">
        <fieldset>
            <input formControlName="email" placeholder="Email" type="text">
        </fieldset>
        <fieldset>
            <input formControlName="password" placeholder="Password" type="password">
        </fieldset>
        <button type="submit">
            Log in
        </button>
    </fieldset>
</form>
