:host {
    height: 20px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

footer { 
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}
  
p {
    padding: 3px;
    font-size: x-small;
}
  
img {
    height: 10px;
}