:host {
    width: 100%;
    display: flex;
    flex-flow: column nowrap; 
    justify-content: flex-start; 
}

div.centered-content-container { 
    padding: 20px 0;
    justify-content: center;
    text-align: center;
}

.logo-img {
    height: 50px;
}

h1 {
    padding-bottom: 20px;
}

form {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.form-item-size {
    width: 100%;
    max-width: 350px;
}

button {
    margin-top: 20px;
}
