<div class="layout-section simple-centered-content">

    <a [routerLink]="['/']" title="Home">
        <img src="/assets/icon.png" alt="Run4IT logo">
    </a>

    <div class="auth-sub-content">
        <router-outlet></router-outlet>
    </div>

    <div class="auth-sub-content">
        <div *ngIf="showNewUserLink">
            <a [routerLink]="['/auth/register']" title="Register">New user? Register here!</a>
        </div>
        <div *ngIf="showExistingUserLink">
            <a [routerLink]="['/auth/login']" title="Sign in">Existing user? Sign in here!</a>
        </div>
        <div *ngIf="showConfirmedLink">
            <a [routerLink]="['/auth/register']" title="Sign in">Already confirmed? Login here!</a>
        </div>
    </div>

</div>

