:host { 
    color: rgb(8, 59, 102);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* Layout stuff */


.logo {
    width: 160px;
    float: left;
}

.menu {
    float: left;
    height: 100%;
    width: auto;
}

.user, .user-menu {
    float: right;
    margin-right: 5px;
}

.user-menu-contents {
    background-color: white;
    border: solid lightgray 1px;
    border-top: none;
    display: block;
    margin-right: 2px;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    .user, .menu {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    .user-menu {
        display: none;
    }
}

/* Look 'n' feel */

ul {
    height: 100%;
    list-style-type: none;
    list-style-position: inside;
    padding: 2px;
}

li.menu-item-hor {
    float: left;
    height: 100%;
    padding: 6px 8px;
}

.fancy-button {
    cursor: pointer;
    display: block;
    height: 100%;
}

li a, .fancy-button span {
    font-weight: 600;
    text-decoration: none;
}

.fancy-button i {
    float: left;
    height: 100%;
    padding-top: 5px;
}

.fancy-button span {
    float: left;
    height: 100%;
    padding: 2px 4px;
    margin-top: 6px;
}