div.goal-summary-content {
    width: 100%;
    padding-bottom: 20px;
}

div.goal-summary-content h2 {
    font-size: small;
}

div.goal-summary-content span {
    font-size: smaller;
}

.category-select {
    min-width: 300px;
}

.target-select {
    width: 120px;
}

.date-select {
    width: 160px;
}

.list-item {
    font-size: smaller;
}

button {
    margin: 10px 5px 5px 0px;
}
