<div class="main-column-content">

    <h1>Add new goal</h1>

    <form [formGroup]="goalForm" (ngSubmit)="submitForm()">
        <app-notification></app-notification>
        <fieldset [disabled]="isSubmitting">


            <!-- SELECT CATEGORY -->
            <fieldset *ngIf="currentStep == 1">
                <fieldset>
                    <select formControlName="categoryID" (change)="onCategoryChanged()">
                        <option [ngValue]="0">Select goal category:</option>
                        <option *ngFor="let category of goalCategories" [ngValue]="category.id">{{ category.name }} ({{ category.workoutCategoryName }})</option>
                    </select>
                </fieldset>
                <fieldset>
                    <button [routerLink]="['/goals']" >Cancel</button>
                    <button (click)="setStepToNext(1)">Next</button>
                </fieldset>
            </fieldset>

            <!-- SELECT DATES AND TARGET -->
            <fieldset *ngIf="currentStep == 2">
                <fieldset>
                    {{ selectedGoalCategoryDescr }}
                </fieldset>
                <fieldset>
                    <button (click)="setStepToPrevious(2)">Back</button>
                    <button (click)="setStepToNext(2)">Next</button>
                </fieldset>
            </fieldset>

            <!-- SELECT DATES AND TARGET -->
            <fieldset *ngIf="currentStep == 3">
                <fieldset>
                    Hellu again
                </fieldset>
                <fieldset>
                    <button (click)="setStepToPrevious(3)">Back</button>
                    <button type="Submit">Save</button>
                </fieldset>
            </fieldset>            

        </fieldset>
    </form>


</div>
