:host {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

div.main-column-content {
    text-align: center;
    margin: 2px auto 20px auto;
    width: 100%;
}

form {
    max-width: 500px;
    margin: auto;
    background-color: linen;
}

fieldset {
    width: 100%;
}

input, select {
    width: 80%;
}

select {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
}
