div.workout-form-element {
    padding: 15px 0;
}

.category-select {
    min-width: 190px;
}

.file-select {
    min-width: 190px;
}

.radio-button {
    padding-right: 10px;
}

.browse-button {
    margin-left: 15px;
}

.date-select {
    width: 125px;
}

.time-select {
    width: 40px;
}

.distance-hr-climb-select {
    width: 90px;
}

button {
    margin: 10px 5px 5px 0px;
}

label {
    display:block;
    font-size: small;
    font-weight: 500;
    padding-bottom: 10px;
}