:host {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

table {
    border-collapse: collapse;
}
th {
    background-color: rgb(8, 59, 102);
    border-right: solid 1px rgb(248, 248, 248);
    color: white;
}

th:last-child {
    border-right: none;
}

td {
    background-color: white;
    color: rgb(8, 59, 102);
}

td, th {
    border-bottom: solid 1px rgb(248, 248, 248);
    font-weight: normal;
    font-size: small;
    padding: 5px;
    margin: 0;
    text-align: center;
}

span.meter-label-min, span.meter-label-max, span.meter-label {
    color: rgb(8, 59, 102);
    display: inline-block;
    font-size: x-small;
    min-width: 30px;
    max-width: 40px;
}

span.meter-label {
    font-weight: 600;
}

span.meter-label-min {
    text-align: right;
}

span.meter-label-max {
    text-align: left;
}

meter {
    padding: 2px;
    min-width: 90px;
    width: 50%;
    max-width: 160px;
}

td.meter {
    min-width: 170px;
}

table.goal-list {
    min-width: 350px;
}