:host {
    width: 100%;
    display: flex;
    flex-flow: column nowrap; 
    justify-content: flex-start;
}



div.tab-content {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

div.add-goal-btn-content {
    text-align: center;
}
