<form [formGroup]="confirmationForm" (ngSubmit)="submitForm()">
    <h1>Please enter confirmation code</h1>
    <app-notification></app-notification>

    <fieldset [disabled]="isSubmitting">

        <fieldset>
            <input formControlName="username" type="hidden">
            <mat-form-field class="form-item-size">
                <mat-label>Confirmation code</mat-label>
                <input matInput formControlName="confirmationCode" type="text" style="font-size: small;">
            </mat-form-field>
        </fieldset>

        <fieldset>
            <button mat-raised-button color="primary" class="form-item-size" type="submit">
                Confirm email
            </button>
        </fieldset>

    </fieldset>
</form>
