<!-- Add goal button -->
<div class="side-column-content" *ngIf="activeGoals.length > 0">
    <button *ngIf="!isCreateNewRoute" mat-raised-button color="primary" [routerLink]="['/goals/new']">Add Goal</button>
    <span *ngIf="isCreateNewRoute"><br /><br /></span>
</div>

<!-- List of future goals -->
<div class="side-column-content">

    <h3>Upcoming goals</h3>
    <mat-list *ngIf="futureGoals.length > 0">
        <mat-list-item *ngFor="let goal of futureGoals" class="list-item-small">
            <a [routerLink]="['/goals', goal.id]">
                {{ goal.categoryName }} {{ goal.targetValue }}{{ goal.categoryUnit }},
                {{ currentTime | timeToStart:goal.startAt }}
            </a>
        </mat-list-item>
    </mat-list>
    <em *ngIf="futureGoals.length == 0">None</em>

</div>

<!-- List of already expired goals -->
<div class="side-column-content">

    <h3>Finished goals</h3>
    <mat-list *ngIf="expiredGoals.length > 0">
        <mat-list-item *ngFor="let goal of expiredGoals" class="list-item-small">
            <a [routerLink]="['/goals', goal.id]">
                {{ goal.categoryName }} {{ goal.targetValue }}{{ goal.categoryUnit }},
                {{ goal.endAt | timeSinceExpiry:currentTime }}
            </a>
        </mat-list-item>
    </mat-list>
    <em *ngIf="expiredGoals.length == 0">None</em>

</div>

<!-- Goal statistics -->
<div class="side-column-content">
    <h3>Goal stats</h3>
    <mat-list *ngIf="expiredGoals.length > 0">
        <mat-list-item class="list-item-small">Completed goals: {{ goalsCompleted }}</mat-list-item>
        <mat-list-item class="list-item-small" *ngIf="expiredGoals.length > 0">Completed rate: {{ goalsSuccessRate }}%</mat-list-item>
        <mat-list-item class="list-item-small">Total finished goals: {{ expiredGoals.length }}</mat-list-item>            
    </mat-list>
    <em *ngIf="expiredGoals.length == 0" class="list-item-small">No goals completed</em>

</div>
