div.side-column-content {
    margin: 0 auto;
    padding: 10px 0 10px 20px;
    width: 100%;
    max-width: 340px;
}

div.side-column-content h3 {
    font-size: 14px;
}

.centered-content {
    text-align: center;
}

.goal-title {
    font-weight: 600;
}

div.goal-count {
    width: 100%;
    text-align: right;
    padding-right: 5px;
    font-size: smaller;
}
