<div class="chart-container" *ngIf="!isChartError && !isLoading">
    <div class="chart">
        <ngx-charts-line-chart 
            [scheme]="chartColorScheme"
            [results]="chartData"
            [legend]="false"
            [timeline]="false"
            [showXAxisLabel]="false"
            [showYAxisLabel]="true"
            [yAxisLabel]="chartLabelY"
            [xAxis]="true"
            [yAxis]="true"
            [yScaleMax]="chartYMax"
            [yScaleMin]="chartYMin">
        </ngx-charts-line-chart>
    </div>
</div>
<div class="chart-container" *ngIf="isLoading">
    <mat-spinner [diameter]="20" aria-label="Retrieving chart information"></mat-spinner>
</div>

<div class="no-chart" *ngIf="isChartError">
    <span class="warn-color">Cannot show chart</span>
</div>
