<app-header></app-header>
<app-notification></app-notification>

<div class="column-flex-container-nowrap welcome-container">

    <div class="column-flex-container-nowrap welcome-message-container">
        <h1>Run4IT</h1>
        <h2>Running for IT training since ... a while ago</h2>
        <h3>- Feel free to join us in the run for knowledge!</h3>
    </div>

    <div class="row-flex-container-wrap welcome-buttons-container">
        <div class="welcome-button-content">
            <p>
                <a mat-raised-button color="primary" [routerLink]="['/auth/register']">
                    Register
                </a>
            </p>        
        </div>
        <div class="welcome-button-content">
            <p>
                <a mat-raised-button color="primary" [routerLink]="['/auth/login']">
                    Sign In
                </a>
            </p>        
        </div>
    </div>

    <div class="column-flex-container-nowrap credits-container">
        <p class="white-bg-color">
            Backgound image from <a href="https://pixabay.com/users/RemazteredStudio-1714780/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1201014" target="_blank">Remaztered Studio</a>
            from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1201014" target="_blank">Pixabay</a>

            Theme based on <a href="https://material.angular.io/" target="_blank">Angular Material.</a>
        </p>        
    </div>
</div>
