:host {
    height: calc(100% - 20px); /* adjust for footer */
    width: 100%;
    display: flex;
    flex-flow: column nowrap; 
    justify-content: flex-start;
    background-image: url('/assets/welcome.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

/* Container for everything between header and footer */
div.welcome-container {
    height: calc(100% - 50px); /* adjust for header */
}

/* Container for welcome message */
div.welcome-message-container {
    height: 60%;
    justify-content: center;
    text-align: center;
}

/* Containers for buttons */
div.welcome-buttons-container {
    height: 20%;
}

div.welcome-button-content {
    width: 50%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

/* Container for credits */
div.credits-container {
    height: 20%;
    justify-content: flex-end;
    text-align: center;   
}

/* Content formatting */
h1 {
    font-size: 36px;
}

h2 {
    color: rgb(6, 54, 95);
}

h3 {
    color: rgb(4, 48, 86);
    font-style: italic;
}

div.welcome-button-content a {
    width: 100px;
}

div.credits-container p {
    padding: 1px;
    font-size: x-small;
}

div.credits-container a {
    text-decoration: underline;
}

