div.side-column-content {
    margin: 0 auto;
    padding: 10px 0 10px 20px;
    width: 100%;
    max-width: 340px;
}

div.side-column-content h3 {
    font-size: 14px;
}

.list-item-date{
    font-size: smaller;
    padding-left: 5px;
    vertical-align: bottom;
}

.list-icon {
    transform: scale(0.7);
}
