<app-header></app-header>
<div class="section main-container">
    <app-notification></app-notification>
    <div class="sub-content-100">
      <h1>{{ profile.username | uppercase }}</h1>  
    </div>

    <div class="sub-content-50">
        <div class="card">
            <h3 class="card-top">Account</h3> 
            <fieldset [disabled]="isSubmitting">  
                <table>
                    <tr>
                        <td>Username: </td>
                        <td>{{ profile.username  }}</td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td>{{ currentUser.email  }}</td>
                    </tr>
                    <tr>
                        <td>Password: </td>
                        <td>
                            <i style="font-size:smaller">TODO: Add support for reset</i>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <button (click)="logout()">Sign Out</button>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>

    <div class="sub-content-50">
        <div class="card">
            <h3 class="card-top">User information</h3>
            <form [formGroup]="userInfoForm" (ngSubmit)="submitUserInfoForm()"> 
                <fieldset [disabled]="isSubmitting">  
                    <table>
                        <tr>
                            <td>Member since: </td>
                            <td>{{ profile.createdAt | date  }}</td>
                        </tr>
                        <tr>
                            <td>Date of birth: </td>
                            <td>
                                <input formControlName="birthYear" class="small" placeholder="Year" type="text" maxlength="4"> - 
                                <select formControlName="birthMonth">
                                    <option *ngFor="let month of months" [ngValue]="month.val">{{month.name}}</option>
                                </select> -
                                <input formControlName="birthDay" class="small" placeholder="Day" type="text" maxlength="2">
                            </td>
                        </tr>
                        <tr>
                            <td>Height: </td>
                            <td>
                                <input formControlName="height" class="small" placeholder="Height" type="text"> cm
                            </td>
                        </tr>
                        <tr>
                            <td>Weight: </td>
                            <td><input  formControlName="weight" class="small" placeholder="Weight" type="text"> kg</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <button>Update</button>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="sub-content-50">
        Units of measure<br />
        Time zone  
    </div>

    <div class="sub-content-50">
        Training summary, total kms, kcals, sessions etc.  
    </div>

</div>