:host {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

td:first-child {
    width: 120px;
}

td {
    padding: 3px;
}

button {
    padding: 5px 15px;
}

input {
    padding: 1px;
}

input.small {
    width: 50px;
}
