<app-header></app-header>
<app-notification></app-notification>

<div class="column-flex-container-nowrap main-content-padding white-bg-color">

    <mat-tab-group color="accent" animationDuration="500ms">

        <!-- PROFILE INFO -->
        <mat-tab label="Profile">
            <div class="tab-content">

                <!-- CREDENTIALS -->
                <div class="column-flex-container-nowrap media-aware-content-50">
                    <fieldset>
                        <mat-form-field class="form-item-size">
                            <mat-label>Profile name</mat-label>
                            <input matInput type="text" value="{{ profile.username }}" readonly>
                        </mat-form-field>
                    </fieldset>
                    <fieldset>
                        <mat-form-field class="form-item-size">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" value="{{ currentUser.email }}" readonly>
                        </mat-form-field>
                    </fieldset>
                    <fieldset>
                        <mat-form-field class="form-item-size">
                            <mat-label>Member since</mat-label>
                            <input matInput type="text" value="{{ profile.createdAt | date  }}" readonly>
                        </mat-form-field>
                    </fieldset>
                    <fieldset>
                        <button mat-raised-button class="wide" color="primary" disabled>Change password</button>
                        <button mat-raised-button class="wide" (click)="logout()">Sign out</button>
                    </fieldset>
                </div>

                <!-- PROFILE INFORMATION -->
                <div class="column-flex-container-nowrap media-aware-content-50">
                    <form [formGroup]="userInfoForm" (ngSubmit)="submitUserInfoForm()"> 
                        <fieldset [disabled]="isSubmitting">

                            <fieldset [disabled]="!isEditEnabled">
                                <mat-form-field class="form-item-size-small">
                                <mat-label>Birth date (d/m/y)</mat-label>
                                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="birthDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                            </fieldset>
                              
                            <fieldset [disabled]="!isEditEnabled">
                                <mat-form-field class="form-item-size-small">
                                    <mat-label>Height (cm)</mat-label>
                                    <input matInput formControlName="height" type="number">
                                </mat-form-field>
                            </fieldset>                            

                            <fieldset disabled="true">
                                <mat-form-field class="form-item-size-small">
                                    <mat-label>Weight (kg)</mat-label>
                                    <input matInput formControlName="weight" type="text">
                                    <mat-hint>Use Weight tab to edit</mat-hint>
                                </mat-form-field>
                            </fieldset>

                            <fieldset>
                                <button mat-raised-button class="narrow" type="button" (click)="toggleEditProfileView()" *ngIf="!isEditEnabled">Enable edit</button>
                                <button mat-raised-button class="narrow" color="accent" type="button" (click)="toggleEditProfileView()" *ngIf="isEditEnabled">Cancel edit</button>
                                <button mat-raised-button class="narrow" color="primary" type="submit">Update</button>
                            </fieldset>

                        </fieldset>
                    </form>
                </div>

            </div>      
        </mat-tab>

        <!-- WEIGHT HISTORY -->
        <mat-tab label="Weight">
            <div class="tab-content">
                <app-profile-weight-history>Loading ...</app-profile-weight-history>
            </div>
        </mat-tab>

        <!-- PREFERENCES -->
        <mat-tab label="Preferences">
            <div class="tab-content">
                
                <p>Not implemented yet. Should include prefs, Polar integration info, etc.</p>
            
            </div>
        </mat-tab>

        <!-- PREFERENCES -->
        <mat-tab label="Stats">
            <div class="tab-content">
                
                <p>Not implemented yet. Total workouts, run distance, climb. Best week, longest distance etc.</p>
            
            </div>
        </mat-tab>

    </mat-tab-group>
</div>