/*
    UNIVERSAL RULES
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1, h2, h3 { 
    font-family: 'Open Sans', sans-serif;
    color: rgb(8, 59, 102);
    padding: 5px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

fieldset {
    border: none;
    padding: 5px;
}

input, button {
    padding: 5px;
    width: 250px;
}

a {
    color: rgb(8, 59, 102);
}

button {
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 16px;
    background-color: rgb(8, 59, 102);
}

/*
    LAYOUT COMPONENTS RULES
*/
app-root {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/*
    LAYOUT ELEMENTS RULES
*/
.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Top bar with logo */
.logo-bar {
    background-color: white;
    height: 36px;
    padding-top: 4px;
}

.logo-bar a img {
    height: 32px;
}

/* Horizontal menu */
.menu-bar {
    background-color: rgb(8, 59, 102);
    height: 40px;
}

.menu-bar a {
    color: white;
    padding: 10px;
}

/* Main content */
.content {
    background-color: #EAEDF0;
    height: 400px;
}

/* Extra feature#1 */ 
.feature-1 {
    background-color: #F5CF8E;
    height: 100px;
  }

/* Extra feature#2 */
.feature-2 {
    background-color: #F09A9D;
    height: 100px;
  }

/* Sign up, Sign in content */
.auth-content {
    margin: 50px auto;
}

.auth-content a img {
    height: 50px;
}

/* Footer */
.footer {
    height: auto;
    padding-top: 30px;
    padding-bottom: 3px;
}

.footer p {
    font-size: x-small;
}

.footer img {
    height: 10px;
}

/*
    MEDIA DEPENDENT RULES
*/

/* Mobile Styles */
@media only screen and (max-width: 400px) {

}
  
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .feature-1, .feature-2 {
        width: 50%;
    }
}
  
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    app-root {
        margin: auto;
        width: 960px;
    }
    .feature-1, .feature-2 {
        width: 50%;
    }   
}
