/*
    UNIVERSAL RULES
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    PAGE MAIN LAYOUT
*/
html, body {
    height: 100%;
}
body { 
    background-color:#e1e7ed;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    background-color:rgb(245, 245, 245);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 300px;
}

@media only screen and (min-width: 1081px) {
    app-root {
        margin: auto;
        width: 1080px;
    }
} 

header, footer, div.layout-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*
    CONTENTS CONTAINERS
*/

/* Intended for simple pages without header, such as login, page not found etc. */
div.simple-centered-content {
    margin: 50px auto;
}

/* Main container for standard page, can be further divided by sub-content containers. Typically combined with layout-section class  */
div.main-container {
    width: 100%;
    padding: 0 15px;
    align-items: flex-start;
    justify-content: left;
}

/* Sub-content, containers for dividing main content in sections. Auto-scale in case of smaller screens */
div.sub-content-100 {
    width: 100%;
}
div.sub-content-75 {
    width: 75%;
}
div.sub-content-70 {
    width: 70%;
}
div.sub-content-50 {
    width: 50%;
}
div.sub-content-30 {
    width: 30%;
}
div.sub-content-25 {
    width: 25%;
}

@media only screen and (max-width: 400px) {

    div.sub-content-75, div.sub-content-70, div.sub-content-50, div.sub-content-30, div.sub-content-25 {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 700px) {

    div.sub-content-75, div.sub-content-70, div.sub-content-50, div.sub-content-30, div.sub-content-25 {
        width: 100%;
        margin-bottom: 30px;
    }
}


/*
    COMMON HEADERS 
*/
h1, h2, h3 {
    color: rgb(8, 59, 102);
}

h1 {
    padding: 10px 0 20px 0;
    font-size: 24px;
}

h2 {
    font-size: 22px;
    font-style: italic;
    padding: 10px 0 10px 0;
}

h3 {
    font-size: 20px;
    padding: 5px 0 5px 0;
}

/*
    MISC STANDARD FORMATTING (look 'n' feel)
*/
a {
    text-decoration: none;
    color: rgb(8, 59, 102);
}

fieldset {
    border: none;
    width: 100%;
}

.tab-group, .tab-item {
    width: 100%;
    min-height: 300px;
    margin: 0;
    padding: 0;
}
