/*
    UNIVERSAL RULES
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-color {
    color: rgb(8, 59, 102);
}

.accent-color {
    color: rgb(203, 107, 14);
}

.warn-color {
    color: rgb(244, 67, 54);
}

.white-color {
    color: rgb(245, 245, 245);
}

.out-of-bounds-bg-color {
    background-color: #e1e7ed;
}

.white-bg-color {
    background-color: rgb(245, 245, 245);
}

.primary-bg-color {
    background-color: rgb(8, 59, 102);;
}

/*
    PAGE MAIN LAYOUT
*/
html, body {
    height: 100%;
}
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/*
    CONTENTS CONTAINERS
*/
div.column-flex-container-nowrap {
    width: 100%;
    display: flex;
    flex-flow: column nowrap; 
}

div.row-flex-container-wrap {
    width: 100%;
    display: flex;
    flex-flow: row wrap;    
}

div.main-content-padding {
    padding: 0 15px 15px 15px;
}

/* Containers with width dep. on screen */
div.media-aware-content-70 {
    width: 70% !important;
}

div.media-aware-content-50 {
    width: 50% !important;
}

div.media-aware-content-30 {
    width: 30% !important;
}

@media only screen and (max-width: 700px) {
    div.media-aware-content-50 {
        width: 100% !important;
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 640px) {
    div.media-aware-content-70, div.media-aware-content-30 {
        width: 100% !important;
        padding-bottom: 50px;
    }
}


/*
    COMMON HEADERS
*/
h1, h2, h3 {
    color: rgb(8, 59, 102);
}

/*
    COMMON FORMATTING
*/
table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

form {
    width: 100%;
}

fieldset {
    border: none;
    width: 100%;
}

a {
    text-decoration: none;
    color: rgb(8, 59, 102);
}