:host { 
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

header {
    height: 50px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding-top: 4px;
}

/* Logo icon */
a img {
    height:40px;
    margin-right: 20px;
}

/* Horizontal menu items */
span.menu-item-hor a {
  font-size: 16px;  
}

span.menu-item-hor a.active-menu-item {
    font-weight: 700;
    color: rgb(203,107,14);
  }

/* Spacer for right-align of icons */
span.right-align-spacer {
    flex: 1 1 auto;
}

/* Vertical menu items */
span.menu-item-vert {
    font-size: 16px;
}

/* Extra padding for authenticated views */
div.vertical-padding {
    height: 50px;
}

@media only screen and (max-width: 650px) {
    .user, span.menu-item-hor {
        display: none;
    }
}

@media only screen and (min-width: 651px) {
    .menu {
        display: none;
    }
}
