 <!-- For unauthenticated users -->
<header class="white-bg-color" *appShowAuthenticated="false">
    <mat-toolbar>
        <span class="right-align-spacer"></span>
        <span class="centered-logo">
            <a href="/" title="Welcome">
                <img src="/assets/icon.png" alt="Run4IT logo">
            </a>
        </span>
        <span class="right-align-spacer"></span>     
    </mat-toolbar>
</header>

<!-- For authenticated users -->
<header class="white-bg-color" *appShowAuthenticated="true">
    <mat-toolbar>
        <span>
            <a href="/" title="Home">
                <img src="/assets/icon.png" alt="Run4IT logo">
            </a>    
        </span>

        <!-- Horizontal menu items shown on wide screens -->
        <span class="menu-item-hor" *ngFor="let item of menuItems">
            <a mat-button color="primary" [routerLink]="item.route" [routerLinkActive]="['active-menu-item']">{{item.title | uppercase}}</a>
        </span>

        <!-- Spacer for right-align-->
        <span class="right-align-spacer"></span>

        <!-- User icon with username shown on wide screens -->
        <span class="user">
            <a mat-stroked-button color="primary" [routerLink]="['/profile']">
                <mat-icon>person</mat-icon>
                <span>{{ authUser.username }}</span>
            </a>
        </span>

        <!-- Dropdown menu shown when screen isn't wide enough -->
        <span class="menu">
            <button mat-icon-button [matMenuTriggerFor]="menu" color="primary" aria-label="Main menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <a mat-menu-item *ngFor="let item of menuItems" [routerLink]="item.route">
                    <mat-icon color="primary">{{ item.icon }}</mat-icon>
                    <span class="menu-item-vert primary-color">{{item.title}}</span>
                </a>
                <a mat-menu-item [routerLink]="['/profile']">
                    <mat-icon color="primary">person</mat-icon>
                    <span class="menu-item-vert primary-color">Profile</span>
                </a>
            </mat-menu>
        </span>
    </mat-toolbar>
</header>

<div class="column-flex-container-nowrap vertical-padding white-bg-color" *appShowAuthenticated="true">&nbsp;</div>
