:host {
    width: 100%;
    display: flex;
    flex-flow: column nowrap; 
    justify-content: flex-start;
}

.centered-content {
    text-align: center;
}

div.workout-heading-content {
    width: 100%;
    padding-bottom: 20px;
    padding-right: 10px;
}

div.workout-heading-content h1 {
    font-size: medium;
    padding: 20px 0 10px 5px;
}
